@import './base.scss';
@import './variables.scss';

@import './components/board.scss';
@import './components/square.scss';

body {
  background-color: $background-color;
}

#app {
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
