@import './base.scss';
@import './variables.scss';

@import './components/board.scss';
@import './components/square.scss';
@import './components/notification.scss';
@import './components/emoji.scss';
@import './components/navbar.scss';
@import './components/choosing-menu.scss';
@import './components/create-room.scss';
@import './components/room.scss';

body {
  background-color: $background-color;
}

#app {
  margin: 0 auto;
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.input__input {
  width: 100%;
  height: 50px;

  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;

  border-radius: 15px;
  border: none;

  font-size: 20px;

  &:focus {
    outline: none;
  }
}

.title {
  text-align: center;

  font-size: 46px;
  font-weight: bold;
}

.description {
  text-align: center;

  font-size: 16px;
  font-weight: bold;

  max-width: 500px;

  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.loader--create-room {
  margin-top: 50%;
  transform: translateY(+100%);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.loader {
  display: flex;
  justify-content: center;
}

.image--top-right {
  position: absolute;
  top: -10px;
  right: 0; 
}

.image--top-left {
  position: absolute;
 
  top: 10px;
  left: 0;
  
  width: 9rem;
}
 
.image--bottom-left {
  position: absolute;
 
  bottom: 10px;
  left: 0;
  
  width: 9rem;
 
  transform: scale(-1, 1);
}
 
.image--bottom-right {
  position: absolute;
 
  bottom: 10px;
  right: 0;
  
  width: 9rem;
 
  transform: scale(-1, 1);
}

.disabled {
  background-color: $light-gray;
  color: $white;
}

.logo {
  display: none;
}

@media (max-width: 1280px) {
  #app {
    margin-top: 20px;
  }

  .title {
    font-size: 33px;
    max-width: 250px;

    margin-left: auto;
    margin-right: auto;
  }

  .description {
    font-size: 15px;
    max-width: 250px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .image--top-right {
    width: 20%;
    right: 0;
  }
  
  .image--top-left {
    width: 15%;
  }
   
  .image--bottom-left {
    display: none;
  }
   
  .image--bottom-right {
    display: none;
  }

  .logo {
    display: block;

    font-size: 40px;
    text-align: center;
    color: $blue;
  
    cursor: pointer;
  }
}