// core
$black: #000;
$white: #fff;

$background-color: beige;

$button--hover: rgb(215, 215, 215);

// main menu
$main-menu--one-color: rgb(193, 222, 255);
$main-menu--multiplayer-color: rgb(193, 255, 205); 
