// core
$black: #000;
$white: #fff;
$blue: rgb(160, 174, 255);
$red: rgb(255, 160, 160);

$background-color: beige;

$button--hover: rgb(215, 215, 215);

// main menu
$main-menu--one-color: rgb(193, 222, 255);
$main-menu--multiplayer-color: rgb(193, 255, 205); 

$light-gray: rgb(145, 145, 145);
$gray: rgb(98, 98, 98);
