.board {
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;

  margin-bottom: 0;

  &__row {
    margin-bottom: -5px;
  }

  &__title {
    margin-top: -10px;

    font-size: 36px;
    font-weight: bold;
  }

  &__madeby {
    margin-bottom: -130px !important;
  }

  &__move {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 30px;
    margin-bottom: 10px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__restart {
    padding: 10px;

    height: 50px;

    background-color: $white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: $black !important;

    transition: 0.5s all;

    &:hover {
      background-color: $button--hover;
      transition: 0.5s all;
    }
  }

  &__copy {
    padding: 8px;

    height: 50px;

    background-color: transparent;

    border: 2px solid $light-gray;
    border-radius: 10px;

    cursor: pointer;

    color: $black;

    transition: .5s all;

    &:hover {
      background-color: $light-gray;
      border: 2px solid transparent;

      color: $white;

      transition: .5s all;
    }

    &:active {
      background-color: $gray;

      transition: .2s all;
    }
  }
}

@media (max-width: 1280px) {
  .board {
    flex-direction: column;
    padding: 20px;

    &__title {
      font-size: 30px;
    }

    &__move {
      font-size: 25px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__row {
      flex-wrap: wrap;

      button {
        max-width: 90px;
      }
    }
  }
}