.create-room {
  h1 {
    margin-bottom: 30px;
  }

  &__roles-list {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__roles-item {
    padding: 20px;

    border: 1px solid $black;
    border-radius: 20px;

    transition: .3s all;

    cursor: pointer;

    &--active {
      background-color: $main-menu--one-color;
      border: 1px solid transparent; 
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      transition: .3s all;
    }
  }

  &__players-list {
    display: flex;
    flex-direction: column;

    gap: 15px;

    margin-top: 15px;
  }
  
  &__players-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    border-radius: 15px;

    background-color: $main-menu--one-color;

    transition: .3s all;

    cursor: pointer;

    &--new {
      background-color: $main-menu--multiplayer-color;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      transition: .3s all;
    }

    h3 {
      font-weight: bold;
    }

    p {
      display: flex;
      align-items: center;
      gap: 15px;

      span {
        font-weight: bold;
      }
    }

    strong {
      text-align: center;
      font-size: 26px;
    }
  }

  &__submit {
    display: block;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    
    width: 200px;

    background-color: $main-menu--multiplayer-color;
    
    font-size: 20px;
    color: $black;
    
    border: none;
    border-radius: 15px;
    
    transition: .3s all;

    cursor: pointer;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      transition: .3s all;
    }
  }
}