.players {
  display: flex;
  justify-content: space-between;

  gap: 15px;

  margin-top: 30px;
  margin-bottom: 30px;

  &__item {
    margin: 10px;

    &--x, &--o {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 50px;

      padding: 15px;

      border-radius: 15px;

      span {
        font-weight: bold;
        font-size: 20px;
      }
    }

    &--x {
      background-color: $red;
    }

    &--o {
      background-color: $blue;
    }
  }

}

@media (max-width: 1280px) {
  .room {
    padding-left: 20px;
    padding-right: 20px;
  }

  .players {
    flex-direction: column;
    gap: 10px;

    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 10px;

    &__item {

      &--x, &--o {
        width: 100%;
      }
    }
  }
}